.our-info {
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 0;
  background-image: url(/public/assets/images/bg/our-info.jpg);
}
.our-info__input {
  position: relative;
}
.our-info__input input {
  width: 100%;
  padding: 20px 65px;
}
.our-info__input-envelope {
  position: absolute;
  left: 22px;
  top: 22px;
  font-size: 26px;
  color: #8e8e8e;
}
.our-info__input-plane {
  position: absolute;
  right: 22px;
  top: 24px;
  font-size: 22px;
  color: var(--primary-color);
  cursor: pointer;
}
.our-info__social-icon a {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  transition: var(--transition);
  color: var(--white);
  font-size: 22px;
  border: 1px solid var(--white);
  margin-left: 10px;
}
.our-info__social-icon a:hover {
  background-color: var(--white);
  color: var(--primary-color);
}
