.team-two {
    position: relative;
}

.team {
    position: relative;
    overflow: hidden;
}

.team-two__shape {
    position: absolute;
    bottom: 0;
    left: 15%;
}

.sway__animation {
    animation: sway 2s linear infinite alternate;
}

.section-header {
    margin-bottom: 65px;
}

.section-header h5 {
    color: var(--primary-color);
    padding-bottom: 20px;
    text-transform: uppercase;
}

.section-header h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
}



.team__item {
    padding: 30px;
    border: var(--border-1px);
    text-align: center;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}

.team-two__item {
    border: 1px solid transparent;
    padding: 0;
}

.team-two__item .team__item-image {
    max-width: 100%;
}

.team__item-image {
    max-width: 250px;
    margin: 0 auto;
    position: relative;
}

.team__item-image img {
    width: 100%;
}

.team__item-image-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
}



.team__item-image-icon a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    transition: var(--transition);
    color: var(--white);
    border: var(--border-1px);
    transition: var(--transition);
    transform: scaleX(0);
    opacity: 0;
    visibility: hidden;
}

.team__item-image::after {
    position: absolute;
    content: "";
    background-color: var(--black);
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 0;
    opacity: 0;
    transition: var(--transition);
}

.team__item:hover .team__item-image::after {
    opacity: 20%;
}

.team__item:hover .team__item-image-icon a {
    transform: scaleX(1);
    opacity: 1;
    visibility: visible;
}

