.achievement {
    overflow: hidden;
    padding: 80px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 55px 10px rgba(75, 175, 71, 0.0784313725);
}

.achievement-two .achievement::before {
    background-color: transparent;
}

.achievement__bor-right {
    position: relative;
    border-right: var(--border-1px);
}

.achievement__item {
    position: relative;
}

.achievement__item h5 {
    color: var(--white);
    text-transform: capitalize;
}
.achievement__item span {
    color: var(--primary-color);
    font-weight: 700;
}

.achievement__item img {
    padding: 12px 0;
}